.feed {
}

.filtertext {
    min-width: 500px;
    float: left;
}

.practicebutton {
    padding: 3px;
    border: 1px solid #3a3a3a;
    float: left;
    clear: right;
}

.feedbody {
    list-style-type: none;
}

.feedcard {
}

.feedcard_front {
    float: left;
    padding: 10px;
    border: 1px solid #3a3a3a;
}

.feedcard_back {
    float: left;
    padding: 10px;
    border: 1px solid #3a3a3a;
}

.review {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.stack {
    box-shadow: 10px 10px 0 0 #bbb;
    border: 1px solid #3a3a3a;
    width: 400px;
    height: 300px;
    position: absolute;
}

.card {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font: 16px 'Helvetica Neue';
    font-weight: 200;
    color: #3a3a3a;
    position: absolute;
}

.cardFront {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content {
    margin-top: 20%;
    text-align: center;
}

.choices {
    bottom: 15px;
    position: absolute;
}

.choices_hard {
    margin-right: 20px;
    margin-left: 150px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
