body {
    background-color: rgb(225, 225, 225) !important;
}

.practicebutton {
    font-weight: 100 !important;
    line-height: 42px !important;
}

.navbar .header-login img {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position:absolute;
}
.navbar .header-login span {
    padding-left:25px;
}

.feed {
    margin: 50px auto 0;
    width: 800px;
}

.filterbar_description {
    font-weight: lighter !important;
    font-size: 24px;
    padding: 5px;
}

.filterbar .filterbar-query {
    min-width: 500px;
    border: 1px solid #bdc3c7 !important; /* Override bootstrap's :focus coloring. */
    font-size: 18px;
    line-height: 24px;
}

.filterbar .filterbar-submit {
    /* Sizes are magic numbers related to the input height. */
    height: 55px;
    margin: 2px 0;
    width: 100%;
    font-size: 22px;
}

.btn.practicebutton {
    line-height: 59px; /*This is a magic #, based on height of input*/
    padding: 0;
    width: 100%;
}

.takeallbutton {
    margin-left: 0;
    text-align: center;
}

.feedbody {
    list-style-type: none;
    margin-left: 0;
}

.feedcard {
    margin: 8px 0;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    border-top-width: 0;
    min-height: 130px;
    position: relative;
}

.l-feedcard-container .feedcard .feedcard_right {
    border-left: 1px dotted rgb(225, 225, 225);
    /*Hacky override of grid*/
    margin-left: 0;
    padding-left: 10px;
}

.feedcard_meta {
    margin-top: 20px;
    width: 640px !important; /*Magic number for now based on width of right container*/
}

.feedcard_photo {
    margin: 10px auto 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.feedcard_username {
    margin: 5px 0 10px;
    text-align: center
}

.feedcard_front,
.feedcard_back {
    padding: 10px 0;
    margin: 0 10px;
    border-radius: 2px;
    background-color: #fff;
}

.feedcard_front {
    border-bottom: 1px solid #d8d8d8;
}

.tags,
.feedcard .btn-container {
    padding: 10px 0 10px 10px;
}

.feedcard .btn-container {
    visibility: hidden;
}

.feedcard:hover .btn-container {
    visibility: visible;
}

.feedcard .btn-container .btn {
    padding-left: 10px;
    margin-left:3px;
    float: right;
}

.label {
    margin: 2px !important;
}

/* hack */
.btn-small {
    padding: 2px 10px !important;
    font-size: 11.9px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}

/* hack */
.btn-mini {
    padding: 0 6px !important;
    font-size: 10.5px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}

.review {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.emptyreviewingstack {
    padding-top: 100px;
    text-align: center;
}

.reviewingstackall {
    width: 700px;
    height: 400px;
    position: absolute;

    left: 50px;
    top: 90px;
}

.reviewingstackmeta {
    float: left;
    width: 140px;;
    height: 400px;
}

.reviewingstack {
    position: relative;
    float: left;
    width: 550px;
    height: 420px;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #fff;
}

.reviewedstackall {
    width: 400px;
    height: 200px;
    position: absolute;
}

.reviewedstackall-hard {
    left: 800px;
    top: 90px;
}

.reviewedstackall-easy {
    left: 800px;
    top: 310px;
}

.reviewedstackmeta {
    width: 60px;
    float: left;
    height: 200px;
}

.reviewedstack {
    width: 300px;
    height: 200px;
    /*position: absolute;*/
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #fff;
    float: left;
    position: relative;
}

.topcardcover {
    background: rgba(255, 255, 255, 0.7);
    z-index: 1001;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 200px;
}

.card {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 10px;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
}

.cardFront {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer
}


.content {
    padding: 5% 5% 0% 5%;
    text-align: left;
    white-space: pre-line;
}

.choices {
    bottom: 15px;
    position: absolute;
}

.choices_hard {
    margin-right: 20px;
    margin-left: 230px;
}

.choices_hard,
.choices_easy {
    cursor: pointer;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

.features {
    display: block;
    margin: 0 auto;
    padding: 40px;
    overflow: hidden;
    line-height: 1.3;
}
.features p.intro {
    font-weight: 400;
    font-size: 26px;
    text-align: justify;
    color: #666;
}
.features p.intro strong {
    font-weight: 400;
    color: #444;
}
.features .feature {
    margin-top: 40px;
}
.features .feature h2 {
    font-weight: 400;
    font-size: 32px;
}
.features .feature h3 {
    font-weight: 400;
    font-size: 28px;
    color: #999;
    margin-top: -5px;
    margin-bottom: 5px;
}
.features .feature p {
    font-weight: 400;
    font-size: 22px;
    color: #666;
    text-align: justify;
}

#above-fold{

}
#above-fold h1{
    font-size: 60px;
    line-height: 60px;
}
#above-fold:first-child{
    margin-top: 20vh;
    height: 50vh;
}
#introbox{
    height: 220px;
}
#textintro{
    height: 140px;
    margin-left: 20px;
}
#acronym{
    color: #666;
    font-variant: small-caps;
    font-size: 18px;
    margin-top: -20px;
}
#tagline{
    margin-top: 20px;
    font-size: 22px;
}
#login-big{
    width: 430px;
    margin-left: 20px;
}


.editor {
    margin: 50px auto 0;
    width: 450px;
}

.editor textarea {
    height: 150px;
}

#editor-input-source {
    width: 436px; /* = 450px - 2 * 5px padding - 2 * 2px border */
}

.editor .checkbox label {
    display: inline-block;
}


.login-prompt {
    margin: 50px auto 0;
    width: 450px;
}

.user-header {
    background-color: #fff;
    margin-top: -20px;
    padding-top: 20px;
}

.user-header-inner {
    width: 210px;
    margin: 0 auto;
}

.user-header .primary {
    margin-bottom: 15px;
    padding-left: 100px;
    min-height: 90px;
}

.user-header .primary li {
    padding-top: 5px;
    margin-bottom: 10px;
}

.user-header .userimg {
    border-radius: 50%;
    margin-left: -100px;
    position: absolute;
}

.user-header .username {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.user-header .primary button {
    width: 100px;
}

.user-header .secondary {
    clear: both;
    text-align: center;
}

.user-header .secondary li {
    display: inline;
    margin: 0 3px;
}

/* Style the HTML of user-generated content.

   Since CSS reset took out defaults, we want to re-instate some
   simple defauts. This is a slight modification of Vanilla CSS from
   http://noscope.com/vanilla-css/.

  */
.userhtml h1, .userhtml h2, .userhtml h3, .userhtml h4, .userhtml h5, .userhtml h6, .userhtml b, .userhtml strong {font-weight: bold;}
.userhtml em, .userhtml i, .userhtml dfn {font-style: italic;}
.userhtml dfn {font-weight:bold;}
.userhtml p, .userhtml code, .userhtml pre, .userhtml kbd {margin:0 0 1.5em 0;}
.userhtml blockquote {margin:0 1.5em 1.5em 1.5em;}
.userhtml cite {font-style: italic;}
.userhtml li ul, .userhtml li ol {margin:0 1.5em;}
.userhtml ul, .userhtml ol {margin:0 1.5em 1.5em 1.5em;}
.userhtml ul {list-style-type:disc;}
.userhtml ol {list-style-type:decimal;}
.userhtml ol ol {list-style: upper-alpha;}
.userhtml ol ol ol {list-style: lower-roman;}
.userhtml ol ol ol ol {list-style: lower-alpha;}
.userhtml dl {margin:0 0 1.5em 0;}
.userhtml dl dt {font-weight:bold;}
.userhtml dd {margin-left:1.5em;}
.userhtml table {margin-bottom:1.4em;width:100%;}
.userhtml th {font-weight:bold;}
.userhtml th, .userhtml td, .userhtml caption {padding:4px 10px 4px 5px;}
.userhtml tfoot {font-style:italic;}
.userhtml sup, .userhtml sub {line-height:0;}
.userhtml abbr, .userhtml acronym {border-bottom: 1px dotted;}
.userhtml address {margin:0 0 1.5em;font-style:italic;}
.userhtml del {text-decoration: line-through;}
.userhtml pre {margin:1.5em 0;white-space:pre;}
.userhtml img {max-width: 100%;}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* iPhone, Android rules here */
    .reviewingstack {
        width: 300px;
        height: 300px;
    }

    .reviewingstackmeta {

        float: none;
        height: 70px;
    }

    .reviewingstackall {
        width: 700px;
        height: 400px;
        position: absolute;

        left: 10px;
        top: 50px;
    }

    .reviewedstackall {
        width: 100px;
        height: 100px;
        position: relative;
        display: inline-block;
    }

    .reviewedstack {
        /* Just hide these on mobile */
        display: none;
    }

    .reviewedstackall-hard {
        left: 10px;
        top: 380px;
    }

    .reviewedstackall-easy {
        left: 10px;
        top: 380px;
        margin-left: 150px;
    }

    .content {
        margin-top: 10%;
        font-size: large;
    }

    .choices {
        padding-left: 200px
    }

    .choices_hard {
        margin-left: 0px;
    }

    .emptyreviewingstack {
        padding-top: 50px;
    }
}

/* Override some flat-ui styles.

   For some reason, flat-ui is at odds with vanilla bootstrap. E.g.,
   if not using flat-ui JS, sometimes elements (like checkboxes) done
   in the bootstrap style simply don't show up.
*/
.tagsinput {
    border-color: #bdc3c7; /* Override flat-ui border color. */
}

.checkbox input,
.radio input {
    display: inline;
}

.navbar .navbar-inner {
    border-radius: 0 !important;
}
.navbar .nav > li > a {
    font-weight: lighter !important;
}
.navbar .nav > li:first-child > a,
.navbar-inverse .nav > li > a {
    border-radius: 0;
    border: 0;
    font-size: 16.996px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #1abc9c;
    border-radius: 0;
}
