body {
    background-color: rgb(225, 225, 225) !important;
}

.navbar, .filterbar_description {
    font-weight: lighter !important;
}

.practicebutton {
    font-weight: 100 !important;
}

.navbar-inner {
    border-radius: 0 !important;
}

.header {
    background-color: #ccc;
    font-size: 30px;
}


.header_home, .header_feed, .header_login, .header_about {
    color: #fff;
    cursor: pointer;
}

.header_home.active, .header_feed.active, .header_login.active, .header_about.active {
    background-color: #1abc9c;
    border-bottom-color: #16a085;
}

.header_home {
    padding: 10px;
    margin-left: 10px;
}

.header_feed {
    padding: 10px;
    margin-left: 10px;
}

.header_about {
    padding: 10px;
    margin-left: 10px;
}

#header_login{
    padding: 10px;
    margin-left: 10px;
}
#header_login > a{
    margin: 0;
    padding: 0;
    border: none;
}
#header_login img {
    display: inline-block;
    margin-right: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.feed {
    margin: 50px auto 0;
    width: 800px;
}

.filterbar {

}

.filterbar_description {
    font-size: 24px;
    padding: 5px;
}

.filtertext {
    min-width: 500px;
    border: 1px solid #bdc3c7 !important;
}

.btn.practicebutton {
    line-height: 59px; /*This is a magic #, based on height of input*/
    padding: 0;
    width: 100%;
}

.feedbody {
    list-style-type: none;
    margin-left: 0;
}

.l-feedcard-container {

}

.feedcard {
    margin: 8px 0;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    border-top-width: 0;
    min-height: 130px;
    position: relative;
}

.l-feedcard-container .feedcard .feedcard_right {
    border-left: 1px dotted rgb(225, 225, 225);
    /*Hacky override of grid*/
    margin-left: 0;
    padding-left: 10px;
}

.feedcard_meta {
    margin-top: 20px;
    width: 640px !important; /*Magic number for now based on width of right container*/
}

.feedcard_photo {
    margin: 10px auto 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.feedcard_username {
    margin: 5px 0 10px;
    text-align: center
}

.feedcard_front, .feedcard_back {
    padding: 10px 0;
    margin: 0 10px;
    border-radius: 2px;
    background-color: #fff;
}

.feedcard_front {
    border-bottom: 1px solid #d8d8d8;
}

.tags,
.l_stealcard_container {
    padding: 10px 0 10px 10px;
}

.stealcard {
    float: right;
}

.label {
    margin: 2px !important;
}

/* hack */
.btn-small {
    padding: 2px 10px !important;
    font-size: 11.9px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}

/* hack */
.btn-mini {
    padding: 0 6px !important;
    font-size: 10.5px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}

.review {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.emptyreviewingstack {
    padding-top: 100px;
    text-align: center;
}

.reviewingstackall {
    width: 700px;
    height: 400px;
    position: absolute;
}

.reviewingstackmeta {
    float: left;
    width: 140px;;
    height: 400px;
}

.reviewingstack {
    position: relative;
    float: left;
    width: 550px;
    height: 400px;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #fff;
}

.reviewedstackall {
    width: 400px;
    height: 200px;
    position: absolute;
}

.reviewedstackmeta {
    width: 60px;
    float: left;
    height: 200px;
}

.reviewedstack {
    width: 300px;
    height: 200px;
    /*position: absolute;*/
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #fff;
    float: left;
    position: relative;
}

.topcardcover {
    background: rgba(255, 255, 255, 0.7);
    z-index: 1001;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 200px;
}

.card {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 10px;
    border-radius: 2px;
    background-color: #fff;
}

.cardFront {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer
}

.content {
    margin-top: 20%;
    text-align: center;
}

.choices {
    bottom: 15px;
    position: absolute;
}

.choices_hard {
    margin-right: 20px;
    margin-left: 230px;
}

.choices_hard, .choices_easy {
    cursor: pointer;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

.features {
    display: block;
    margin: 0 auto;
    padding: 40px;
    overflow: hidden;
    line-height: 1.3; 
}
.features p.intro {
    font-weight: 400;
    font-size: 26px;
    text-align: justify;
    color: #666;
}
.features p.intro strong {
    font-weight: 400;
    color: #444; 
}
.features .feature {
    margin-top: 40px; 
}
.features .feature h2 {
    font-weight: 400;
    font-size: 32px;
}
.features .feature h3 {
    font-weight: 400;
    font-size: 28px;
    color: #999;
    margin-top: -5px;
    margin-bottom: 5px;
}
.features .feature p {
    font-weight: 400;
    font-size: 22px;
    color: #666;
    text-align: justify;
}

#above-fold{

}
#above-fold h1{
    font-size: 60px;
    line-height: 60px;
}
#above-fold:first-child{
    margin-top: 30vh;
    height: 70vh;
}
#introbox{
    height: 220px;
}
#textintro{
    height: 140px;
    margin-left: 20px;
}
#acronym{
    color: #666;
    font-variant: small-caps;
    font-size: 18px;
    margin-top: -20px;
}
#tagline{
    margin-top: 20px;
    font-size: 22px;
}
#login-big{
    width: 430px;
    margin-left: 20px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
